#drop-area {
  box-sizing: border-box;
  width: 90%;
  height: 300px;
  padding: 30px;
  background-color: rgb(221, 112, 84);
  color: white;
  border-radius: 25px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#drag-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

#drag-container img {
  width: fit-content;
}

#img-view {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  border: 2px dashed rgb(255, 255, 255);
  background-color: rgb(213, 101, 101);
  padding: 10px;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
}

#img-view img {
  width: 100px;
  margin-top: 25px;
}