#drop-area {
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 150px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

#drop-area p {
  margin: 0;
}

#drop-area.highlight {
  border-color: #ff0055;
}

#file-input {
  display: none;
}

#file-list {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.file-item {
  margin-bottom: 8px;
}

/* Style tambahan sesuai kebutuhan */


/* Jika ingin menambahkan warna latar pada daftar gambar */
#file-list {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
}
