.main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  .main-container {
    position: relative;
    width: 1280px;
    height: 832px;
    margin: 0 auto;
    background: #ffffff;
    overflow: hidden;
  }
  .box {
    position: relative;
    width: 1280px;
    height: 80px;
    margin: 0 0 0 0;
    background: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .wrapper {
    position: absolute;
    width: 188px;
    height: 38px;
    top: 50%;
    left: 50%;
    background: #e0115f;
    transform: translate(-232.98%, -52.63%);
    z-index: 7;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 20px;
    top: calc(50% - 12px);
    left: calc(50% - 70px);
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    white-space: nowrap;
    z-index: 8;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .pic {
    position: absolute;
    width: 42px;
    height: 42px;
    top: 50%;
    left: 50%;
    background: url(human.png)
      no-repeat center;
    background-size: cover;
    transform: translate(1128.57%, -38.1%);
    z-index: 9;
    border-radius: 50%;
  }
  .text-2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 20px;
    top: calc(50% - 14px);
    left: calc(50% - 571px);
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #e0115f;
    font-size: 23px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    white-space: nowrap;
    z-index: 10;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .pic-2 {
    position: absolute;
    width: 37px;
    height: 30px;
    top: 50%;
    left: 50%;
    background: url(add.png)
      no-repeat center;
    background-size: cover;
    transform: translate(213.51%, -43.33%);
    z-index: 13;
  }
  .pic-3 {
    position: absolute;
    width: 36px;
    height: 29px;
    top: 50%;
    left: 50%;
    background: url(home.png)
      no-repeat center;
    background-size: cover;
    transform: translate(-463.89%, -37.93%);
    z-index: 15;
  }
  .img {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    background: url(premium-quality.png)
      no-repeat center;
    background-size: cover;
    transform: translate(1113.33%, -36.67%);
    z-index: 11;
  }
  .pic-4 {
    position: absolute;
    width: 30px;
    height: 28px;
    top: 50%;
    left: 53.5%;
    background: url(chat.png)
      no-repeat center;
    background-size: cover;
    transform: translate(489.74%, -32.14%);
    z-index: 12;
  }
  .img-2 {
    position: absolute;
    width: 38px;
    height: 27px;
    top: 50%;
    left: 50%;
    background: url(search\ \(1\).png)
      no-repeat center;
    background-size: cover;
    transform: translate(-71.05%, -33.33%);
    z-index: 14;
  }
  .text-3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 19px;
    top: calc(50% - 8px);
    left: calc(50% - -375px);
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #808080;
    font-size: 20px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 2;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .text-4 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 19px;
    top: calc(50% - 8px);
    left: calc(50% - -235px);
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #808080;
    font-size: 20px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 3;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .text-5 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 19px;
    top: calc(50% - 8px);
    left: calc(50% - 122px);
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #808080;
    font-size: 20px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 6;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .text-6 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 19px;
    top: calc(50% - 8px);
    left: calc(50% - -527px);
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #e0115f;
    font-size: 20px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 1;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .text-7 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 19px;
    top: calc(50% - 8px);
    left: calc(50% - -18px);
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #808080;
    font-size: 20px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 5;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .text-8 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 19px;
    top: calc(50% - 8px);
    left: calc(50% - -125px);
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #808080;
    font-size: 20px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 4;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .wrapper-2 {
    position: relative;
    width: 756px;
    height: 76px;
    margin: 0 0 0 262px;
    background: #e0115f;
    z-index: 16;
  }
  .section {
    position: absolute;
    width: 463px;
    height: 41px;
    top: 50%;
    left: 50%;
    font-size: 0px;
    transform: translate(-68.03%, -56.1%);
    z-index: 40;
  }
  .text-9 {
    display: block;
    position: relative;
    height: 21px;
    margin: 0 0 0 0;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    z-index: 39;
  }
  .text-a {
    display: block;
    position: relative;
    height: 17px;
    margin: 3px 0 0 0;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    white-space: nowrap;
    z-index: 40;
  }
  .img-3 {
    position: absolute;
    width: 34px;
    height: 34px;
    top: 50%;
    left: 50%;
    background: url(premium-quality.png)
      no-repeat center;
    background-size: cover;
    transform: translate(-1061.76%, -61.76%);
    z-index: 38;
  }
  .img-4 {
    position: absolute;
    width: 22px;
    height: 19px;
    top: 50%;
    left: 50%;
    background: url(right-arrow\ \(1\).png)
      no-repeat center;
    background-size: cover;
    transform: translate(1413.64%, -68.42%);
    z-index: 41;
  }
  .group {
    position: relative;
    width: 756px;
    height: 161px;
    margin: 20px 0 0 262px;
    background: #ffffff;
    z-index: 17;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .img-5 {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 50%;
    left: 50%;
    background: url(settings.png)
      no-repeat center;
    background-size: cover;
    transform: translate(1463.64%, -293.18%);
    z-index: 35;
  }
  .pic-5 {
    position: absolute;
    width: 21px;
    height: 21px;
    top: 50%;
    left: 50%;
    background: url(insights.png)
      no-repeat center;
    background-size: cover;
    transform: translate(1319.05%, -307.14%);
    z-index: 36;
  }
  .pic-6 {
    position: absolute;
    width: 20px;
    height: 19px;
    top: 50%;
    left: 50%;
    background: url(pencil.png)
      no-repeat center;
    background-size: cover;
    transform: translate(1160%, -328.95%);
    z-index: 37;
  }
  .pic-7 {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    background: url(human.png)
      no-repeat center;
    background-size: cover;
    transform: translate(-344%, -53.5%);
    z-index: 20;
    border-radius: 50%;
  }
  .text-b {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 22px;
    top: calc(50% - 45.5px);
    left: calc(50% - 209px);
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    white-space: nowrap;
    z-index: 19;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .text-c {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 14px;
    top: calc(50% - 21.5px);
    left: calc(50% - 209px);
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #808080;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    text-align: left;
    white-space: nowrap;
    z-index: 18;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .section-2 {
    position: absolute;
    width: 165px;
    height: 24px;
    top: 50%;
    left: 50%;
    background: #ffffff;
    transform: translate(-130.3%, 39.58%);
    z-index: 21;
    border-radius: 15px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .text-d {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 13px;
    top: calc(50% - 7px);
    left: calc(50% - 55.5px);
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #000000;
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    text-align: left;
    white-space: nowrap;
    z-index: 22;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .section-3 {
    position: relative;
    width: 756px;
    height: 78px;
    margin: 20px 0 0 262px;
    background: #ffffff;
    z-index: 23;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .section-4 {
    position: absolute;
    width: 30px;
    height: 78px;
    top: 50%;
    left: 50%;
    background: rgba(237, 237, 237, 0.93);
    transform: translate(1160%, -50%);
    z-index: 30;
    border-radius: 10px;
  }
  .pic-8 {
    position: relative;
    width: 14px;
    height: 7px;
    margin: 6px 0 0 8px;
    background: url(down-filled-triangular-arrow.png)
      no-repeat center;
    background-size: cover;
    transform: rotate(-180deg);
    z-index: 33;
  }
  .pic-9 {
    position: relative;
    width: 14px;
    height: 7px;
    margin: 39px 0 0 8px;
    background: url(down-filled-triangular-arrow.png)
      no-repeat center;
    background-size: cover;
    z-index: 34;
  }
  .text-e {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 14px;
    top: calc(50% - 19px);
    left: calc(50% - 235px);
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #000000;
    font-size: 15px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;
    white-space: nowrap;
    z-index: 25;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .text-f {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 14px;
    top: calc(50% - 19px);
    left: calc(50% - 351px);
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #808080;
    font-size: 15px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;
    white-space: nowrap;
    z-index: 24;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .text-10 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 14px;
    top: calc(50% - 19px);
    left: calc(50% - -76px);
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #808080;
    font-size: 15px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;
    white-space: nowrap;
    z-index: 27;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .text-11 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 14px;
    top: calc(50% - 19px);
    left: calc(50% - 107px);
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #808080;
    font-size: 15px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;
    white-space: nowrap;
    z-index: 28;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .text-12 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 14px;
    top: calc(50% - 19px);
    left: calc(50% - -8px);
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #808080;
    font-size: 15px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;
    white-space: nowrap;
    z-index: 26;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .group-2 {
    position: absolute;
    width: 756px;
    height: 19px;
    top: 50%;
    /* left: 50%; */
        left: 35%;

    background: #fff;
    transform: translate(-50%, 105.26%);
    z-index: 29;
    border-radius: 3px;
  }
  .group-3 {
    
    top: 50%;
    position: relative;
    width: 112px;
    height: 2px;
    margin: 0 0 0 129px;
    background: #e0115f;
    z-index: 42;
  }
  .section-5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 711px;
    height: 9px;
    margin: 3px 0 0 17px;
    z-index: 32;
  }
  .pic-a {
    flex-shrink: 0;
    position: relative;
    width: 10px;
    height: 9px;
    background: url(down-filled-triangular-arrow.png)
      no-repeat center;
    background-size: cover;
    transform: rotate(90deg);
    z-index: 32;
  }
  .pic-b {
    flex-shrink: 0;
    position: relative;
    width: 10px;
    height: 9px;
    background: url(down-filled-triangular-arrow.png)
      no-repeat center;
    background-size: cover;
    transform: rotate(-90deg);
    z-index: 31;
  }
  .img-6 {
    position: relative;
    width: 135px;
    height: 140px;
    margin: 62px 0 0 564px;
    background: url(shopping-list\ \(1\).png)
      no-repeat center;
    background-size: cover;
    z-index: 46;
  }
  .text-13 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 206px;
    height: 30px;
    margin: 26px 0 0 531px;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #000000;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    white-space: nowrap;
    z-index: 45;
  }
  .wrapper-3 {
    position: relative;
    width: 140px;
    height: 39px;
    margin: 33px 0 0 564px;
    background: #e0115f;
    z-index: 43;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .text-14 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 24px;
    top: 8px;
    left: 19px;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    white-space: nowrap;
    z-index: 44;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  
