body {
  background-color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}


h1 {
  margin: 0;
}

#namaResep {
  font-size: 2em;
  border: none;
  background-color: aqua;
  text-align: center;
  margin-bottom: 20px;
}

label {
  margin-bottom: 10px;
}

.container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  margin-top: 40px;
}

#fileUpload {
  margin-bottom: 20px;
}

.img-container {
  background-color: aqua;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  height: 20vh;
}

#formUpload {
  align-items: center;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.container-2 {
  display: flex;
  justify-content: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  background-color: antiquewhite;
  margin-top: 20px;
  border-radius: 20px;
  height: 100vh;
}

.langkah-wrapper {
  align-items: start;
}