body {
  background-color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}


h1 {
  margin: 0;
}

#namaResep {
  font-size: 2em;
  border: none;
  background-color: aqua;
  text-align: center;
  margin-bottom: 20px;
}

label {
  margin-bottom: 10px;
}

.container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  margin-top: 40px;
  height: fit-content;
}

#fileUpload {
  margin-bottom: 20px;
}

.img-container {
  background-color: rgb(221, 112, 84);
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  height: 20vh;
  color: white;
  height: fit-content;
  box-sizing: border-box;
}

#formUpload {
  align-items: center;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container-2 {
  display: flex;
  justify-content: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 80%;
  background-color: antiquewhite;
  margin-top: 20px;
  border-radius: 20px;
  height: fit-content;
  margin-bottom: 40px;
  padding-bottom: 30px;
}

.inputForm {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: start;
  padding: 30px;
  padding-bottom: 0px;
  width: 90%;
}

.inputResep {
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 10px;
  border: none;
  padding: 8px;
  width: 100%;
  max-width: 100%;
  min-height: 10vh;
  background-color: transparent;
  display: flex;
  box-sizing: border-box;
  font-weight: bold;
  font-size: large;
}

#langkahResep {
  background-color: whitesmoke !important;
  font-family: 'Roboto', sans-serif;
  height: max-content;
  resize: none;
  height: 30vh;
  font-weight: lighter;
  font-size: medium;
}

#submitResep {
  border-radius: 5px;
  color: white;
  height: 40px;
  max-width: 40%;
  width: 30%;
  border: none;
  cursor: pointer;
  background-color: green;
  font-weight: bold;
  margin-top: 10px;
}


.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
}